.successMsg-container {
    background-color: rgb(175, 179, 175);
    color: green;
    border: solid green 1px;
    border-radius: 5px;
    padding: 8px;
}

.errorMsg-container {
    background-color: rgb(175, 179, 175);
    color: rgb(245, 70, 70);
    border: solid rgb(245, 70, 70) 1px;
    border-radius: 5px;
    padding: 8px;
}

.blog-container {
    margin-top: 5px;
    border: solid 1px black;
    padding: 7px
}

.extra-blog-info {
    list-style-type: none;
}

ul {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}

.delete-blog-btn {
    background-color: rgb(23, 89, 241);
    color: black;
    border: solid 1px;
    border-radius: 5px;
}